.main-banner {
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  border-radius: 28px;
  overflow: hidden;
  background: linear-gradient(180deg, #bde0e0aa, #79cbcb);
}

.main-banner::after {
  content: "";
  background: url("/assets/images/icons/geneticist.png");
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-content {
  align-self: flex-start;
  font-size: 16px;
  margin: 90px 0px 0px 80px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  flex-grow: 1;
  z-index: 4;
}
.banner-content h1 {
  font-family: "NT Vanilla", serif;
  font-size: 28px;
}
.conhecer-areas {
  display: inline-flex;
  align-self: flex-start;
  gap: 8px;
}

.main-banner-img {
  z-index: 1;
}

.main-banner-img img {
  height: 80vh;
  margin-left: 150px;
}

@media only screen and (max-width: 768px) {
  .banner-content {
    margin: 0;
    text-align: center;
  }
  .main-banner {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 32px 32px 0px 32px;
  }
  .main-banner-img {
    margin: 16px auto 0px auto;
  }
  .main-banner-img img {
    margin: 0;
    height: 40vh;
  }
  .conhecer-areas {
    align-self: center;
  }
}
