@keyframes slideIn {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -500px;
  }
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}
.menu-container {
  display: flex;
  vertical-align: middle;
  gap: 64px;
}

.agendar-consulta {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.sidebar {
  position: absolute;
  display: none;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  background: var(--color-primary);
  color: #fff;
  transition: right 0.3s ease;
  z-index: 1;
  padding: 32px;
  border-top-left-radius: 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
  z-index: 99;
}

.menu-open .sidebar {
  display: block;
  right: 0;
  animation: slideIn 0.3s forwards;
}

.header-sidebar {
  display: flex;
  justify-content: space-between;
}

.icon-close img {
  width: 32px;
  cursor: pointer;
   animation: slideOut 0.3s forwards;
}

.menu-sidebar {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-sidebar li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 2px 0px;
}

.social-sidebar {
  margin-top: 32px;
  display: flex;
  gap: 14px;
}

.logo img {
  width: 200px;
}
/* Estilos para dispositivos móveis */
/* Estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .header {
    padding: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    width: 100%;
  }
  .logo img {
    width: 150px;
    margin: 16px auto;
  }
  .agendar-consulta {
    width: 50%;
  }
  .menu-container {
    flex-direction: flex;
    gap: 16px; /* Reduzido o espaçamento entre os itens */
  }

  .agendar-consulta {
    width: auto; /* Ajuste automático da largura */
    justify-content: flex-start; /* Alinhamento à esquerda */
  }

  .sidebar {
    right: -100%; /* Mantém a barra lateral oculta */
    border-radius: 0;
    box-shadow: none;
  }


  .icon-close img {
    width: 24px;
  }

  .menu-open .sidebar {
    width: 85%;
  }
}
