.swiper-slide {
  width: calc(100% / 4);
  transition: width 0.5s ease-in-out; 
  border-radius: 8px;
  display: flex !important;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  height: 200px !important;
  align-items: start;
}
.swiper-slide h4 {
  font-family: "NT Vanilla", serif;
  font-size: 24px;
  color: var(--color-white);
}
.swiper-slide p {
  font-size: 16px;
  color: var(--color-white);
}

.container-slide {
  margin: 32px auto;
  max-width: 1200px;
  display: flex;
  position: relative;
}

.swiper-slide-active {
  width: 500px !important;
  height: 200px;
}

.swiper-button-prev {
  bottom: -20px !important;
 left: 92% !important;
}

.botoes-navegacao {
  bottom: -50px;
  right: 30px;
  position: absolute;
  background-color: red !important;
}
.swiper-button-next::after {
  content: "" !important;
  background: url("/assets/images/icons/arrow-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.swiper-button-prev::after {
  content: "" !important;
  background: url("/assets/images/icons/arrow-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
/* Estilos individuais slides */ 

.reproducao-humana {
  background: url('/assets/images/reproducao-humana.png');
  background-size: cover;
  position: relative;
}

.doencas-raras {
  background: url('/assets/images/doencas-raras.jpg');
  background-size: cover;
  position: relative;
}

.neuro-genetica {
  background: url('/assets/images/neuro-genetica.jpg');
  background-size: cover;
  position: relative;
}
.onco-genetica {
  background: url('/assets/images/onco-genetica.jpg');
  background-size: cover;
  position: relative;
}



/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 8px;
  background-color: var(--color-white);
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: .5px solid var(--color-background);
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Limit the width */
}

.modal-content  h2,
.modal-content h3 {
  font-family: "NT Vanilla", serif;
}

.modal-content p {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin: 16px 0px;
}
.modal-content ol li {
  margin: 16px 0px;
}
/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close img {
  width: 32px;
}

.close:hover,
.close:focus {
  transform: scale(1.2);
  cursor: pointer;
  transition: 1s;
}

/* Conteúdo dentro do Modal */
#modal-content {
  color: #333;
}

@media only screen and (max-width: 768px) {  
  .swiper-slide {
    width: 100%;
  }
  .swiper-slide-active {
    width: 100%
  }
}