.swiper-slide {
  background-color: green;
  width: calc(100% / 4);
  transition: width 0.5s ease-in-out; 
  border-radius: 8px;
  display: flex !important;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  height: auto !important;
  align-items: start;
}

.container-slide {
  margin: 32px auto;
  max-width: 1200px;
  display: flex;
  position: relative;
}

.swiper-slide-active {
  width: 500px !important;
  height: 200px;
}

.swiper-button-prev {
  bottom: -20px !important;
 left: 92% !important;
}

swiper-button-next {

}