@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../assets/fonts/NT\ Vanilla.otf');
@import url('./reset.css');
@import url('./modules/Footer/footer.css');
@import url('./modules/Header/header.css');


* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.button {
    background: #FF6B6B;
    padding: 8px 16px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
}
.container {
    max-width: 1264px;
}
