@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../assets/fonts/NT\ Vanilla.otf");
@import url("./reset.css");
@import url("./modules/Footer/footer.css");
@import url("./modules/Header/header.css");
@import url("./modules/MainBanner/main-banner.css");
@import url("./modules/Expertises/expertises.css");
@import url("./modules/How/how.css");
@import url("./modules/Call-to-action/call-to-action.css");
@import url("./modules/About/about.css");
@import url("./modules/Location/location.css");
@import url("./modules/Faq/faq.css");
@import url("./modules/Contact/contact.css");

:root {
  --color-primary: #004d4f;
  --color-secondary: #006d6e;
  --color-background: #bde0e0;
  --color-button: #ff6b6b;
  --color-white: #f0f0f0;
  --color-black: #303030;
  --color-form-attention: #ffd700;
  --color-form-error: #d32f2f;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

.button {
  background: var(--color-button);
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.container {
  max-width: 1264px;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.how-cards li {
  animation: slideUp 1s ease-in-out;
}

/* Adicionando um atraso de animação progressivo para cada elemento */
.how-cards li:nth-child(odd) {
  animation-delay: 0.1s; /* Atraso de 0.1s para os elementos ímpares */
}

.how-cards li:nth-child(even) {
  animation-delay: 0.2s; /* Atraso de 0.2s para os elementos pares */
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

sm